{#
/**
 * @file
 *
 * Default template for add to cart link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - url: The URL to the add to cart route.
 * - product_variation: The product variation entity.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'cklb-cta',
    'mt-3', 
    'text-center', 
    'z-3',
  ]
%}
<!-- <div{{ attributes }}> 
  <a href="{{ url }}" class="add-to-cart-link btn btn-primary" rel="nofollow" data-variation="{{ product_variation.id }}">{{ 'Add to cart'|t }}</a>
</div> -->
 
<a href="/add/product/{{ product_variation.id }}" class="use-ajax -add-to-cart btn btn-primary">Add to cart</a>