@font-face {
    font-family: "pintails";
    src:  url("../fonts/pintails//pintails-light.otf") format("opentype"), url("../fonts/pintails//pintails-lightoblique.otf") format("opentype"), url("../fonts/pintails//pintails-oblique.otf") format("opentype"), url("../fonts/pintails//pintails-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }