{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{{ attach_library('ooljaloolstore/product.images') }}

{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% set image_item_classes = 'image-item col-3 col-md-2' %}

{% if label_hidden %}
  {% if multiple %}
    <div {{ attributes|without('data-quickedit-field-id') }}>
      <div class="product-image">
        {{ items.0.content }}
      </div>
      {% if items|length > 1 %}
        <div class="image-list mt-4 row g-2">
          {% for item in items %}
            <div class="{{ image_item_classes }} {% if loop.first %}active{% endif %}">
              <div {{ item.attributes.addClass(['ratio', 'ratio-1x1']) }}>{{ item.content }}</div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% else %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div {{ attributes|without('data-quickedit-field-id') }}>
        <div class="product-image">
          {{ items.0.content }}
        </div>
        {% if items|length > 1 %}
          <div class="image-list mt-4 row g-2">
            {% for item in items %}
              <div class="{{ image_item_classes }} {% if loop.first %}active{% endif %}">
                <div {{ item.attributes.addClass(['ratio', 'ratio-1x1']) }}>{{ item.content }}</div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% else %}
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
