.site-logo{
    display: inline-block;
    width: 300px;
    margin: auto;
    padding-bottom: 1%;
}

.site-logo img {
    width: 100%; /* Take full width of the parent <a> tag */
    height: 100%; /* Take full height of the parent <a> tag */
    display: block;  
}

.menu--main{
    color: black;
}

/* Bootstrap Styles CSS */

.ol-bs-bg-green {
    background-color: #96a755;
}

.ol-bs-bg-pink {
    background-color: #ef9f9c;
}

.ol-bs-bg-light-pink {
    background-color: #fdf4e8;
}
.ol-bs-bg-black {
    background-color: #091405;
}
.ol-bs-bg-gray {
    background-color: #464c3e;
}
.ol-bs-bg-orange {
    background-color:#ffaf00;
}

.region-top-bar {
    background-color: #ef9f9c;
    height: auto;
}

.region-ticker {
    background-color: #091405;
    height: auto;
}

footer h2 {
    color: #ffaf00; /* Styles for any h2 within footer */
 }

footer .nav .nav-item .nav-link{
    color:#fdf4e8 !important;
    padding: 0px;
}
.region-footer .menu--catalog, .region-footer .menu--footer {
    width: 33%;
}

.region-footer .menu--catalog, .region-footer .menu--footer---fun-stuff {
    flex: 0 0 auto;
    width: 33%;
}

.region-footer .menu--catalog .nav, .region-footer .menu--footer---fun-stuff .nav {
    flex-direction: column;
}

.region-header, .region-highlighted {
    position: relative;
}

#instafeed {
    grid-template-columns: repeat(6, 1fr);
}