{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% extends "@ooljaloolstore/layout/region.html.twig" %}

{% block content %}
<div class="ol-bs-bg-gray pt-5">
  <div class="container mx-auto row my-4 text-center text-md-start text-black">
    {{ content }}
  </div>
</div>
{% endblock %}

