{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% extends "@ooljaloolstore/layout/region.html.twig" %}

{% block content %}
  <div class="">
    <div class="align-items-center justify-content-center justify-content-xl-between ol-bs-bg-light-pink px-5 pt-5">
      {{ content }}
    </div>
  </div>
{% endblock %}

