.region-header,
.region-highlighted {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.region-header {
  margin-top: 0 !important;
  color: #fff;
}
.region-header .nav-link:hover {
  color: inherit;
}

.region-highlighted {
  margin-top: 10px;
}
